
/* -| HERO IMAGE & HOMEPAGE INTRODUCTION |- */
.content {
    min-block-size: 50%;
    background-image: url("../assets/home-about-credits-images/home-hero-image-v1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}

.content img {
    block-size: 100%;
    inline-size: 100%;
}


/* ========================================================================== */

/* -| FEATURED CONTENT |- */
.featured {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(#FBFAF2, #131313);

    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.featured input[type="text"] {
    block-size: 5vmin;
    inline-size: 50vmin;
}

.featured input[type="submit"] {
    block-size: 5vmin;
    inline-size: 20vmin;
}

.container {
    flex: 1 400px;
    margin: 15px;
    padding: 10px;
    border-radius: 25px;
    background-color: #C0C0C0;
    border-bottom: 5px #131313 solid;
}

/* ========================================================================== */

/* -| RESPONSIVE DESIGN |- */

/* Phones & Tablets */
@media (max-width: 768px) {
    .content{
        background-image: url("../assets/home-about-credits-images/home-hero-image-v2.jpg");
        justify-content: center;
    }
}

/* Only hover over devices using mouses */
@media (hover:hover) {
    .container:hover {
        background-color: #D8C89E;
        border: none;
    }
}